# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
.next/
out/
build/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Tooling
.vercel
.gcloudignore
*.local

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
